# 应用配置
APP_PORT=3000
APP_HOST=api.1px.website
APP_PUBLIC_URL=https://api.1px.website
APP_IP_ACCESS_HOST=101.35.247.165

# 数据库配置
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=replace_with_a_strong_password
DB_NAME=grove

# 网关配置
TRAEFIK_NETWORK=atmosphere_network
TRAEFIK_ENTRYPOINTS=web,websecure
TRAEFIK_TLS=true
TRAEFIK_CERT_RESOLVER=letsencrypt
TRAEFIK_MIDDLEWARES=security-headers@file,compress@file
